Disciplina: **Mineração de Dados**

Professor: **Wilson Castello Branco Neto**

Aula 3 - Limpeza de Dados - Atividade 1

Nome: Wilson Castello Branco Neto

**Dataset**: Salary dataset based on country and race

Disponível em: https://www.kaggle.com/datasets/sudheerp2147234/salary-dataset-based-on-country-and-race

1.  Importe o dataset indicado e apresente seus dados, os tipos de cada uma de suas colunas e suas estatísticas básicas.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('datasets\\atv3.csv')
df.head()

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6704 non-null   int64
 1   Age                  6702 non-null   float64
 2   Gender               6702 non-null   object
 3   Education Level      6701 non-null   object
 4   Job Title            6702 non-null   object
 5   Years of Experience  6701 non-null   float64
 6   Salary               6699 non-null   float64
 7   Country              6704 non-null   object
 8   Race                 6704 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 471.5+ KB

In [3]:
df.describe(include='all')

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
count,6704.000000,6702.000000,6702,6701,6702,6701.000000,6699.000000,6704,6704
unique,NaN,NaN,3,7,193,NaN,NaN,5,10
top,NaN,NaN,Male,Bachelor's Degree,Software Engineer,NaN,NaN,USA,White
freq,NaN,NaN,3674,2267,518,NaN,NaN,1360,1968
mean,3351.500000,33.620859,NaN,NaN,NaN,8.094687,115326.964771,NaN,NaN
std,1935.422435,7.614633,NaN,NaN,NaN,6.059003,52786.183911,NaN,NaN
min,0.000000,21.000000,NaN,NaN,NaN,0.000000,350.000000,NaN,NaN
25%,1675.750000,28.000000,NaN,NaN,NaN,3.000000,70000.000000,NaN,NaN
50%,3351.500000,32.000000,NaN,NaN,NaN,7.000000,115000.000000,NaN,NaN
75%,5027.250000,38.000000,NaN,NaN,NaN,12.000000,160000.000000,NaN,NaN
max,6703.000000,62.000000,NaN,NaN,NaN,34.000000,250000.000000,NaN,NaN

2.  Elimine a coluna Unnamed: 0.

In [4]:
df.drop(columns=["Unnamed: 0"], inplace=True)
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian

3.  Verifique quantos valores ausentes (nulos) existem em cada atributo e elimine as linhas que contenham algum valor nulo.

In [5]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
Country                0
Race                   0
dtype: int64

In [6]:
df.dropna(inplace=True)

4. Conte a quantidade de linhas duplicadas e elimine estas linhas.

In [7]:
df.duplicated().sum()

1535

In [9]:
df.drop_duplicates(inplace=True)

5. Apresente e depois elimine os outliers do campo salário. Considere que um outlier será dado pelo valor da média +- 2 vezes o seu desvio padrão.

In [15]:
sal_mean = df["Salary"].mean()
std_sal = df["Salary"].std()

limite_inf = sal_mean - 2 * std_sal
limite_sup = sal_mean + 2 * std_sal

print(f'Mean: {sal_mean}')
print(f'Std: {std_sal}')
print(f"Interval: [{limite_inf:.2f}, {limite_sup:.2f}]")

outliers = df[(df["Salary"] < limite_inf) | (df["Salary"] > limite_sup)]
outliers

Mean: 114267.96901026535
Std: 52447.05101134216
Interval: [9373.87, 219162.07]

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
30,50.0,Male,Bachelor's,CEO,25.0,250000.0,Canada,Asian
83,52.0,Male,PhD,Chief Technology Officer,24.0,250000.0,Canada,Black
105,44.0,Male,PhD,Chief Data Officer,16.0,220000.0,USA,African American
259,29.0,Male,Bachelor's,Junior Business Operations Analyst,1.5,350.0,USA,Hispanic
1890,25.0,Female,Bachelor's Degree,Front end Developer,1.0,550.0,UK,Mixed
2260,46.0,Female,PhD,Director of Data Science,20.0,220000.0,USA,White
2654,23.0,Male,PhD,Software Engineer Manager,1.0,579.0,UK,Mixed
2664,46.0,Male,PhD,Director of Data Science,20.0,220000.0,Canada,Asian
4027,49.0,Male,PhD,Data Scientist,22.0,220000.0,UK,White
4042,49.0,Male,PhD,Data Scientist,22.0,220000.0,UK,Mixed
4057,49.0,Male,PhD,Data Scientist,22.0,220000.0,China,White
4072,49.0,Male,PhD,Data Scientist,22.0,220000.0,Australia,Asian
4087,49.0,Male,PhD,Data Scientist,22.0,220000.0,Canada,White
4102,49.0,Male,PhD,Data Scientist,22.0,220000.0,USA,Hispanic
4152,50.0,Male,PhD,Data Scientist,23.0,225000.0,UK,Asian
4167,50.0,Male,PhD,Data Scientist,23.0,225000.0,USA,Hispanic
4182,50.0,Male,PhD,Data Scientist,23.0,225000.0,Australia,Australian
4212,50.0,Male,PhD,Data Scientist,23.0,225000.0,Australia,White
4227,50.0,Male,PhD,Data Scientist,23.0,225000.0,UK,White
4257,50.0,Male,PhD,Data Scientist,23.0,225000.0,UK,Welsh
4276,51.0,Male,PhD,Data Scientist,24.0,240000.0,Canada,Black
4291,51.0,Male,PhD,Data Scientist,24.0,240000.0,UK,Welsh
4306,51.0,Male,PhD,Data Scientist,24.0,240000.0,China,Korean
4321,51.0,Male,PhD,Data Scientist,24.0,240000.0,China,Chinese
4336,51.0,Male,PhD,Data Scientist,24.0,240000.0,USA,White
4366,51.0,Male,PhD,Data Scientist,24.0,240000.0,Canada,White
4381,51.0,Male,PhD,Data Scientist,24.0,240000.0,Canada,Asian
4397,49.0,Male,Master's Degree,Marketing Manager,23.0,228000.0,Canada,White
4633,31.0,Female,Bachelor's Degree,Junior HR Coordinator,4.0,500.0,USA,Asian
5001,45.0,Male,Bachelor's Degree,Financial Manager,21.0,250000.0,Canada,Black

In [16]:
df = df[(df["Salary"] >= limite_inf) & (df["Salary"] <= limite_sup)]
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6698,37.0,Male,Bachelor's Degree,Junior Sales Representative,6.0,75000.0,Canada,Asian
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean

6. Verifique se há alguma dado inconsistente considerando os campos idade e anos de experiência. Considere que as pessoas só podem começar a trabalhar após os 16 anos de idade.

In [17]:
inconsistencies = df[df["Age"] - df["Years of Experience"] < 16]
inconsistencies

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
2376,25.0,Male,PhD,Software Engineer Manager,12.0,169159.0,China,Chinese
2456,25.0,Male,PhD,Software Engineer Manager,12.0,169159.0,China,White

In [18]:
df = df[~(df["Age"] - df["Years of Experience"] < 16)]
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6698,37.0,Male,Bachelor's Degree,Junior Sales Representative,6.0,75000.0,Canada,Asian
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean

7.  Analise os dados e aplique mais alguma melhoria ao dataset resultante das transformações anteriores.

In [19]:
df2 = df.copy()
df2["Job Title"] = df2["Job Title"].str.strip().str.title()
df2

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6698,37.0,Male,Bachelor's Degree,Junior Sales Representative,6.0,75000.0,Canada,Asian
6699,49.0,Female,PhD,Director Of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean

In [20]:
df2.nunique()

Age                     41
Gender                   3
Education Level          7
Job Title              187
Years of Experience     37
Salary                 434
Country                  5
Race                    10
dtype: int64

In [21]:
jobs = []
for job in df2['Job Title']:
    if job not in jobs:
        jobs.append(job)
sorted(jobs)

['Account Manager',
 'Accountant',
 'Administrative Assistant',
 'Back End Developer',
 'Business Analyst',
 'Business Development Manager',
 'Business Intelligence Analyst',
 'Content Marketing Manager',
 'Copywriter',
 'Creative Director',
 'Customer Service Manager',
 'Customer Service Rep',
 'Customer Service Representative',
 'Customer Success Manager',
 'Customer Success Rep',
 'Data Analyst',
 'Data Entry Clerk',
 'Data Scientist',
 'Delivery Driver',
 'Digital Content Producer',
 'Digital Marketing Manager',
 'Digital Marketing Specialist',
 'Director',
 'Director Of Business Development',
 'Director Of Data Science',
 'Director Of Engineering',
 'Director Of Finance',
 'Director Of Hr',
 'Director Of Human Capital',
 'Director Of Human Resources',
 'Director Of Marketing',
 'Director Of Operations',
 'Director Of Product Management',
 'Director Of Sales',
 'Director Of Sales And Marketing',
 'Event Coordinator',
 'Financial Advisor',
 'Financial Analyst',
 'Financial Manager',
 'Front End Developer',
 'Full Stack Engineer',
 'Graphic Designer',
 'Help Desk Analyst',
 'Hr Generalist',
 'Hr Manager',
 'Human Resources Coordinator',
 'Human Resources Director',
 'Human Resources Manager',
 'It Manager',
 'It Support',
 'It Support Specialist',
 'Junior Account Manager',
 'Junior Accountant',
 'Junior Advertising Coordinator',
 'Junior Business Analyst',
 'Junior Business Development Associate',
 'Junior Business Operations Analyst',
 'Junior Copywriter',
 'Junior Customer Support Specialist',
 'Junior Data Analyst',
 'Junior Data Scientist',
 'Junior Designer',
 'Junior Developer',
 'Junior Financial Advisor',
 'Junior Financial Analyst',
 'Junior Hr Coordinator',
 'Junior Hr Generalist',
 'Junior Marketing Analyst',
 'Junior Marketing Coordinator',
 'Junior Marketing Manager',
 'Junior Marketing Specialist',
 'Junior Operations Analyst',
 'Junior Operations Coordinator',
 'Junior Operations Manager',
 'Junior Product Manager',
 'Junior Project Manager',
 'Junior Recruiter',
 'Junior Research Scientist',
 'Junior Sales Associate',
 'Junior Sales Representative',
 'Junior Social Media Manager',
 'Junior Social Media Specialist',
 'Junior Software Developer',
 'Junior Software Engineer',
 'Junior Ux Designer',
 'Junior Web Designer',
 'Junior Web Developer',
 'Juniour Hr Coordinator',
 'Juniour Hr Generalist',
 'Marketing Analyst',
 'Marketing Coordinator',
 'Marketing Director',
 'Marketing Manager',
 'Marketing Specialist',
 'Network Engineer',
 'Office Manager',
 'Operations Analyst',
 'Operations Director',
 'Operations Manager',
 'Principal Engineer',
 'Principal Scientist',
 'Product Designer',
 'Product Manager',
 'Product Marketing Manager',
 'Project Engineer',
 'Project Manager',
 'Public Relations Manager',
 'Receptionist',
 'Recruiter',
 'Research Director',
 'Research Scientist',
 'Sales Associate',
 'Sales Director',
 'Sales Executive',
 'Sales Manager',
 'Sales Operations Manager',
 'Sales Representative',
 'Senior Account Executive',
 'Senior Account Manager',
 'Senior Accountant',
 'Senior Business Analyst',
 'Senior Business Development Manager',
 'Senior Consultant',
 'Senior Data Analyst',
 'Senior Data Engineer',
 'Senior Data Scientist',
 'Senior Engineer',
 'Senior Financial Advisor',
 'Senior Financial Analyst',
 'Senior Financial Manager',
 'Senior Graphic Designer',
 'Senior Hr Generalist',
 'Senior Hr Manager',
 'Senior Hr Specialist',
 'Senior Human Resources Coordinator',
 'Senior Human Resources Manager',
 'Senior Human Resources Specialist',
 'Senior It Consultant',
 'Senior It Project Manager',
 'Senior It Support Specialist',
 'Senior Manager',
 'Senior Marketing Analyst',
 'Senior Marketing Coordinator',
 'Senior Marketing Director',
 'Senior Marketing Manager',
 'Senior Marketing Specialist',
 'Senior Operations Analyst',
 'Senior Operations Coordinator',
 'Senior Operations Manager',
 'Senior Product Designer',
 'Senior Product Development Manager',
 'Senior Product Manager',
 'Senior Product Marketing Manager',
 'Senior Project Coordinator',
 'Senior Project Engineer',
 'Senior Project Manager',
 'Senior Quality Assurance Analyst',
 'Senior Research Scientist',
 'Senior Researcher',
 'Senior Sales Manager',
 'Senior Sales Representative',
 'Senior Scientist',
 'Senior Software Architect',
 'Senior Software Developer',
 'Senior Software Engineer',
 'Senior Training Specialist',
 'Senior Ux Designer',
 'Social Media Man',
 'Social Media Manager',
 'Social Media Specialist',
 'Software Developer',
 'Software Engineer',
 'Software Engineer Manager',
 'Software Manager',
 'Software Project Manager',
 'Strategy Consultant',
 'Supply Chain Analyst',
 'Supply Chain Manager',
 'Technical Recruiter',
 'Technical Support Specialist',
 'Technical Writer',
 'Training Specialist',
 'Ux Designer',
 'Ux Researcher',
 'Vp Of Finance',
 'Vp Of Operations',
 'Web Developer']

In [23]:
education_levels = []
for e in df2['Education Level']:
    if e not in education_levels:
        education_levels.append(e)
sorted(education_levels)

["Bachelor's",
 "Bachelor's Degree",
 'High School',
 "Master's",
 "Master's Degree",
 'PhD',
 'phD']