Disciplina: **Mineração de Dados**

Professor: **Wilson Castello Branco Neto**

Aula 12 - Exemplo 1: Regras de Associação

Nome: Wilson Castello Branco Neto

Leitura e apresentação do dataset com os dados das transações realizadas.

Dataset disponível em: https://www.kaggle.com/datasets/lissetteg/ecommerce-dataset

In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('datasets\\atv12.csv')

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Exclusão de todas as colunas desnecessárias. São utilizadas apenas o código da transação (**InvoiceNo**) e o código do produto (**StockCode**).

Além disto, se algum registro tiver com um destes atributos vazios ele será excluído.

In [13]:
df=df[["InvoiceNo","StockCode"]]
df.dropna(inplace=True)

df

C:\Users\bruno\AppData\Local\Temp\ipykernel_1908\119615714.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

       InvoiceNo StockCode
0         536365    85123A
1         536365     71053
2         536365    84406B
3         536365    84029G
4         536365    84029E
...          ...       ...
541904    581587     22613
541905    581587     22899
541906    581587     23254
541907    581587     23255
541908    581587     22138

[541909 rows x 2 columns]

Agrupa os itens vendidos em cada transação em uma lista

In [14]:
transacoes=df.groupby("InvoiceNo")["StockCode"].apply(list).reset_index(name='Items')

transacoes

      InvoiceNo                                              Items
0        536365  [85123A, 71053, 84406B, 84029G, 84029E, 22752,...
1        536366                                     [22633, 22632]
2        536367  [84879, 22745, 22748, 22749, 22310, 84969, 226...
3        536368                       [22960, 22913, 22912, 22914]
4        536369                                            [21756]
...         ...                                                ...
25895   C581484                                            [23843]
25896   C581490                                     [22178, 23144]
25897   C581499                                                [M]
25898   C581568                                            [21258]
25899   C581569                                     [84978, 20979]

[25900 rows x 2 columns]

Cria uma lista de transacoes, sendo que em cada lista há uma sublista com os itens de cada transação. Apresenta as duas primeiras transações.

In [15]:
transacoes=transacoes["Items"].tolist()

print(transacoes[0])
print(transacoes[1])

['85123A', '71053', '84406B', '84029G', '84029E', '22752', '21730']
['22633', '22632']

Codificação da lista de transações em valores binários.

In [16]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
transacoes_codificadas = te.fit(transacoes).transform(transacoes)

print(transacoes_codificadas.shape)

(25900, 4070)

Transformação das transações codificadas em um dataframe do pandas para facilitar sua manipulação.

In [17]:
import pandas as pd

df = pd.DataFrame(transacoes_codificadas, columns=te.columns_)

df

,10002,10080,10120,10123C,10123G,10124A,10124G,10125,10133,10134,...,M,PADS,POST,S,gift_0001_10,gift_0001_20,gift_0001_30,gift_0001_40,gift_0001_50,m
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25895,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25896,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25897,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
25898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Geração dos itens frequentes, com suporte mínimo de 0.02.

In [18]:
from mlxtend.frequent_patterns import apriori

itemsets = apriori(df,min_support=0.025, use_colnames=True)

print("Itemsets frequentes:")
print(itemsets)

Itemsets frequentes:
      support         itemsets
0    0.027181          (20685)
1    0.033668          (20712)
2    0.026023          (20713)
3    0.032548          (20719)
4    0.028340          (20723)
..        ...              ...
115  0.025598   (20725, 22383)
116  0.028301  (85099B, 21931)
117  0.032162  (85099B, 22386)
118  0.026371  (22411, 85099B)
119  0.030270   (22699, 22697)

[120 rows x 2 columns]

Criação das regras de associação com confiança mínima de 0.5 e transformação das regras geradas em um dataframe para melhorar a apresentação.

In [19]:
from mlxtend.frequent_patterns import association_rules

regras = association_rules(itemsets, metric="confidence", min_threshold=0.5, num_itemsets=len(df) )
print("Regras de associação")
regras = pd.DataFrame(regras)
regras

Regras de associação

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(20727),(20725),0.050000,0.062085,0.025019,0.500386,8.059701,1.0,0.021915,1.877280,0.922027,0.287361,0.467314,0.451686
1,(22383),(20725),0.050425,0.062085,0.025598,0.507657,8.176813,1.0,0.022468,1.905003,0.924311,0.294536,0.475067,0.459985
2,(21931),(85099B),0.046371,0.082432,0.028301,0.610325,7.403939,1.0,0.024479,2.354698,0.906995,0.281598,0.575317,0.476825
3,(22386),(85099B),0.047529,0.082432,0.032162,0.676686,8.208973,1.0,0.028244,2.838004,0.922004,0.328859,0.647640,0.533425
4,(22411),(85099B),0.045830,0.082432,0.026371,0.575400,6.980264,1.0,0.022593,2.161017,0.897889,0.258810,0.537255,0.447653
5,(22699),(22697),0.043243,0.040811,0.030270,0.700000,17.152318,1.0,0.028505,3.197297,0.984262,0.562814,0.687236,0.720861
6,(22697),(22699),0.040811,0.043243,0.030270,0.741722,17.152318,1.0,0.028505,3.704366,0.981765,0.562814,0.730048,0.720861

Criação de um novo dataframe apenas com as colunas mais relevantes para cada regra.

In [20]:
resumo = regras[['antecedents','consequents','support','confidence']]
resumo

  antecedents consequents   support  confidence
0     (20727)     (20725)  0.025019    0.500386
1     (22383)     (20725)  0.025598    0.507657
2     (21931)    (85099B)  0.028301    0.610325
3     (22386)    (85099B)  0.032162    0.676686
4     (22411)    (85099B)  0.026371    0.575400
5     (22699)     (22697)  0.030270    0.700000
6     (22697)     (22699)  0.030270    0.741722